---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About — ClimbHQ" bodyClass="elementor-page-224">
				<div class="elementor elementor-224">
				<div class="elementor-element elementor-element-33ee27b3 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-4d53a9ca e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-1e487596 elementor-widget-mobile__width-inherit elementor-widget__width-inherit elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">About</h2>				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-6a57818e e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-7fa33021 e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-309411d2 e-grid e-con-boxed e-con e-child">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-7673f39b elementor-widget elementor-widget-spacer">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-378dcd4f e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-63efb0a0 e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-5ca65c61 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_224__69b737480986e"><h3 class="heading-section-subtitle  style-color">Ready to Climb?</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Scaling to new heights</h2></div><div class="heading-section-description"><p><span style="font-weight: 400">ClimbHQ is a commercial services partner dedicated to helping climbing centres grow. We combine industry expertise with digital marketing strategies, innovative and commercial HR support and dedicated finance and sata professionals. We are able to support you with cost effective packages and tailored solutions.</span></p><p><span style="font-weight: 400">As proud NICAS partners, we understand the unique needs of climbing walls, bouldering gyms and clip &amp; climb centres.. Our goal is to support your growth and ensure you have your ‘head office’ functions covered.</span></p></div></div>				</div>
				</div>
		<div class="elementor-element elementor-element-4f7d3116 e-grid elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-con-boxed e-con e-child">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-56a33b7a elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Social media</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Paid search and PPC</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Email marketing</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Website development</span>
									</li>
						</ul>
						</div>
				</div>
				<div class="elementor-element elementor-element-6d8ff1e9 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list">
				<div class="elementor-widget-container">
							<ul class="elementor-icon-list-items">
							<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">SEO</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Display marketing</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Text marketing</span>
									</li>
								<li class="elementor-icon-list-item">
											<span class="elementor-icon-list-icon">
							<i aria-hidden="true" class="fas fa-arrow-right"></i>						</span>
										<span class="elementor-icon-list-text">Content marketing</span>
									</li>
						</ul>
						</div>
				</div>
					</div>
				</div>
				<div class="elementor-element elementor-element-112279d9 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget-divider--view-line elementor-widget elementor-widget-divider">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
				<div class="elementor-element elementor-element-d4084d elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_224_1_69b7374809e35"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
					</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-40505131 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-420af5c8 e-grid e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-background-video-container">
							<div class="elementor-background-video-embed" role="presentation"></div>
						</div>		<div class="elementor-element elementor-element-5f5402da elementor-widget elementor-widget-spacer">
				<div class="elementor-widget-container">
							<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
						</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-d7b76aa e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-2fb8bd2c e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-7e18af90 elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">1998</div>				</div>
				</div>
				<div class="elementor-element elementor-element-38be8cbd elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_224_2_69b737480a296"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Our Club is Formed</h2></div><div class="heading-section-description">Proin ullamcorper pretium. Scelerisque leonam.</div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-4976c3cc e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-61b839ce elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_224_3_69b737480a68f"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Verify Climbing Club</h2></div><div class="heading-section-description">Proin ullamcorper pretium. Scelerisque leonam.</div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-247a03ce elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">2007</div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-73e2b769 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-3db9dc3 elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">2015</div>				</div>
				</div>
				<div class="elementor-element elementor-element-f1bf8eb elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_224_4_69b737480aa60"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Winning C4 Event</h2></div><div class="heading-section-description">Proin ullamcorper pretium. Scelerisque leonam.</div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-5cfb055c e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-6340c67e elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_224_5_69b737480ae23"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Community Building</h2></div><div class="heading-section-description">Proin ullamcorper pretium. Scelerisque leonam.</div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-1a02cd5b elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<div class="elementor-heading-title elementor-size-default">2020</div>				</div>
				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-7e525f88 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-42d15bf1 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_6_69b737480b233"><h3 class="heading-section-subtitle  style-color">Let&#039;s get acquainted</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Meet the team</h2></div></div>				</div>
				</div>
		<div class="elementor-element elementor-element-7860453e e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-3ff9028a e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-14c33c89 elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_7_69b737480d7d5"><div class="profile-card "><img decoding="async" width="800" height="800" src="/images/icons/about-2.png" class="attachment-full size-full" alt="Rob" url="http://mikec228.sg-host.com/wp-content/uploads/2025/02/2.png" source="library" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title">Rob</h2>
                <p class="profile-designation">Chief Executive Officer</p>
                <p class="profile-content">Rob has over 20 years experience in senior commercial and People leadership roles. He has a passion for innovation and developing both businesses and the people that make them great.</p>
                <ul class="social-list"></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-41d66a18 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_8_69b737480e0cf"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Peter Neel</h2></div><p class="heading-section-subtitle  style-color">Alpinists Climber</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-28b34dbc e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-6d29308b elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_9_69b737480e627"><div class="profile-card "><img loading="lazy" decoding="async" width="800" height="800" src="/images/team/dave.webp" class="attachment-full size-full" alt="Dave Swis" url="/images/team/dave.webp" source="library" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title">Dave Swis</h2>
                <p class="profile-designation">Chief Marketing Officer</p>
                <p class="profile-content">Dave is a commercial CMO with a strong background in leisure operations and marketing. With deep experience across the leisure sector, he specialises in growing memberships, delivering great customer experiences, and boosting retention.</p>
                <ul class="social-list"></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-32f69a12 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_10_69b737480ed57"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Elvira Allen</h2></div><p class="heading-section-subtitle  style-color">Climbing Route Setters</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-36af400 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-7409b8e elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_11_69b737480f228"><div class="profile-card "><img loading="lazy" decoding="async" width="800" height="800" src="/images/team/jez.webp" class="attachment-full size-full" alt="Jez" url="/images/team/jez.webp" source="library" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title">Jez</h2>
                <p class="profile-designation">Chief Commercial &amp; Climbing Officer</p>
                <p class="profile-content">A passionate advocate for industry growth, Jez holds board and advisory roles, shaping governance, commercial growth, safeguarding, and best practices to ensure a thriving future for climbing businesses.</p>
                <ul class="social-list"></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-ed378b5 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_12_69b737480f923"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Elvira Allen</h2></div><p class="heading-section-subtitle  style-color">Climbing Route Setters</p></div>				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-552851c e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-937d234 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-9d12c8b elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_13_69b737480fde8"><div class="profile-card "><img loading="lazy" decoding="async" width="800" height="800" src="/images/icons/about-1.png" class="attachment-full size-full" alt="Andy" url="http://mikec228.sg-host.com/wp-content/uploads/2025/02/1.png" source="library" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title">Andy</h2>
                <p class="profile-designation">Board Advisor</p>
                <p class="profile-content">Andy is a seasoned entrepreneur. With a background in finance, data analysis and growing start-ups into great businesses. Andy’s passion is scaling businesses and the role that data analytics can play in it.</p>
                <ul class="social-list"></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-12b6ae3 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_14_69b73748104a2"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Andy</h2></div><p class="heading-section-subtitle  style-color">Founder</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-d337104 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-b714a3e elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_15_69b737481096f"><div class="profile-card "><img loading="lazy" decoding="async" width="800" height="800" src="/images/team/andy.webp" class="attachment-full size-full" alt="Andy Mellor" url="/images/team/andy.webp" source="library" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title">Andy Mellor</h2>
                <p class="profile-designation">Chief Financial Officer</p>
                <p class="profile-content">Andy Mellor is a commercial CFO with a strong background in strategic financial management, performance improvement, and M&amp;A. With significant expertise in the leisure sector, Andy specialises in helping growing businesses thrive.</p>
                <ul class="social-list"></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-dbb2217 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_16_69b7374811057"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Andy Mellor</h2></div><p class="heading-section-subtitle  style-color">Climbing Route Setters</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1e65b9b e-con-full elementor-hidden-tablet e-flex e-con e-child">
				<div class="elementor-element elementor-element-a134d35 elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_17_69b7374811534"><div class="profile-card "><img loading="lazy" decoding="async" width="768" height="768" src="/images/team/rob-new.png" class="attachment-medium_large size-medium_large" alt="Sam Beeny" url="/images/team/rob-new.png" source="library" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title">Sam Beeny</h2>
                <p class="profile-designation">Marketing Manager</p>
                <p class="profile-content">Sam Beeny is a Marketing Manager, with a background in brand strategy, content, and campaign delivery. Sam supports businesses in turning discovery moments into check-ins through clear, consistent marketing.</p>
                <ul class="social-list"></ul>
            </div></div>
            </div></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-55705600 elementor-hidden-mobile elementor-hidden-desktop elementor-hidden-tablet e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-752dc7fc e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-5eb64f44 elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_18_69b7374811ca5"><div class="profile-card "><img loading="lazy" decoding="async" width="1000" height="1100" src="/images/stock/female-climber-rope-wall-2.jpg" class="attachment-full size-full" alt="" url="https://mikec228.sg-host.com/wp-content/uploads/2025/01/female-climber-climbing-with-rope-on-a-rocky-wall-SR4NMHQ.jpg" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title"></h2>
                <p class="profile-designation"></p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-a8dcd1d"><a href="https://facebook.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-765cb5a"><a href="https://twitter.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-862088b"><a href="https://pinterest.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-5ca0c1f7 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_19_69b73748124f5"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Helen Freeman</h2></div><p class="heading-section-subtitle  style-color">Climbing Coaches</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-c0e4e8 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-680fbc0f elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_20_69b73748129e0"><div class="profile-card "><img loading="lazy" decoding="async" width="1000" height="1100" src="/images/stock/female-climber-rope-wall-1.jpg" class="attachment-full size-full" alt="" url="https://mikec228.sg-host.com/wp-content/uploads/2025/01/female-climber-climbing-with-rope-on-a-rocky-wall-HH6M4A6.jpg" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title"></h2>
                <p class="profile-designation"></p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-a8dcd1d"><a href="https://facebook.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-765cb5a"><a href="https://twitter.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-862088b"><a href="https://pinterest.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-2b3f60b9 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_21_69b7374813272"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Elvira Allen</h2></div><p class="heading-section-subtitle  style-color">Climbing Route Setters</p></div>				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-59b53094 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-7cb9b6a7 e-con-full elementor-hidden-tablet e-flex e-con e-child">
				<div class="elementor-element elementor-element-673f8b6a elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_22_69b7374813775"><div class="profile-card "><img loading="lazy" decoding="async" width="1000" height="1100" src="/images/stock/female-climber-rope-wall-2.jpg" class="attachment-full size-full" alt="" url="https://mikec228.sg-host.com/wp-content/uploads/2025/01/female-climber-climbing-with-rope-on-a-rocky-wall-SR4NMHQ.jpg" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title"></h2>
                <p class="profile-designation"></p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-a8dcd1d"><a href="https://facebook.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-765cb5a"><a href="https://twitter.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-862088b"><a href="https://pinterest.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-60a5300f elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_23_69b7374813d3c"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Helen Freeman</h2></div><p class="heading-section-subtitle  style-color">Climbing Coaches</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-49f1676b e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-1b869ba5 elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_24_69b7374814268"><div class="profile-card "><img loading="lazy" decoding="async" width="1000" height="1100" src="/images/stock/red-haired-woman-climber.jpg" class="attachment-full size-full" alt="" url="https://mikec228.sg-host.com/wp-content/uploads/2025/01/portrait-of-beautiful-red-haired-woman-rock-climbe-PC63DKK.jpg" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title"></h2>
                <p class="profile-designation"></p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-a8dcd1d"><a href="https://facebook.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-765cb5a"><a href="https://twitter.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-862088b"><a href="https://pinterest.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-124dec76 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_25_69b7374814b6e"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Kelsey Wade</h2></div><p class="heading-section-subtitle  style-color">Conservationists</p></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-5ccb4fbe e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-144dd485 elementor-widget__width-initial elementor-widget elementor-widget-jkit_team">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-team style-overlay overlay-bottom jeg_module_224_26_69b7374815096"><div class="profile-card "><img loading="lazy" decoding="async" width="1000" height="1100" src="/images/stock/male-climber-hanging-rope.jpg" class="attachment-full size-full" alt="" url="https://mikec228.sg-host.com/wp-content/uploads/2025/01/male-rock-climber-resting-while-hanging-on-rope-PTEPG3U.jpg" />
                <div class="hover-area alignment-center"><div class="profile-body">
                <h2 class="profile-title"></h2>
                <p class="profile-designation"></p>
                
                <ul class="social-list"><li class="social-icon elementor-repeater-item-a8dcd1d"><a href="https://facebook.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-facebook-f"></i></a></li><li class="social-icon elementor-repeater-item-765cb5a"><a href="https://twitter.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-twitter"></i></a></li><li class="social-icon elementor-repeater-item-862088b"><a href="https://pinterest.com" aria-label="social-icon"><i aria-hidden="true" class="fab fa-pinterest-p"></i></a></li></ul>
            </div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-b50bfd5 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_27_69b7374815a50"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Percy Knight</h2></div><p class="heading-section-subtitle  style-color">Rescue Paramedics</p></div>				</div>
				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-41aaa900 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-57b060cc elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet-center align-mobile- jeg_module_224_28_69b7374815e4e"><h3 class="heading-section-subtitle  style-color">Get more customers</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Pump up your centre&#039;s marketing adrenaline</h2></div><div class="heading-section-description"><p>Take your climbing centre’s marketing to the next level with proven strategies that attract more climbers, boost engagement, and grow your community.</p></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-3adb02b2 elementor-widget__width-auto elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_224_29_69b7374816281"><a href="/contact" class="jkit-button-wrapper">Get Started</a></div>				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-8ecaa72 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-2142eb34 elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_224_30_69b73748166b8"><h3 class="heading-section-subtitle  style-color">FAQ&#039;s</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Common Questions</h2></div></div>				</div>
				</div>
		<div class="elementor-element elementor-element-15e43d76 e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-4955ee76 elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_accordion">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_224_31_69b73748189b1"><div class="card-wrapper expand">
                <div class="card-header">
                    <a href="#expand-aae80d4" class="card-header-button" aria-expanded="false" data-target="#expand-aae80d4" aria-controls="expand-aae80d4">
                        <span class="title">1. What does ClimbHQ do?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-aae80d4" style="display:block"><div class="card-body"><p><span style="font-weight: 400">ClimbHQ is a specialised service provider offering Marketing, HR, and Finance &amp; Data services specifically designed for indoor climbing walls, bouldering gyms, and clip &amp; climb centres in the UK. We help climbing businesses optimise their operations, attract more customers, and increase profitability through our industry-specific expertise.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-82fbab9" class="card-header-button" aria-expanded="false" data-target="#expand-82fbab9" aria-controls="expand-82fbab9">
                        <span class="title">2. Do you only work with climbing centres?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-82fbab9" style="display:none"><div class="card-body"><p><span style="font-weight: 400">Yes, we exclusively work with indoor climbing walls, bouldering gyms, and clip &amp; climb centres. This specialisation allows us to develop deep industry knowledge and create tailored solutions that address the unique challenges and opportunities within the climbing sector.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-f4fc474" class="card-header-button" aria-expanded="false" data-target="#expand-f4fc474" aria-controls="expand-f4fc474">
                        <span class="title">3. How can ClimbHQ help my climbing centre attract more customers?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-f4fc474" style="display:none"><div class="card-body"><p><span style="font-weight: 400">Our marketing team employs strategies specifically designed for climbing centres, including:</span></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Targeted social media campaigns to reach climbing enthusiasts in your area</span></li><li style="font-weight: 400"><span style="font-weight: 400">Search engine optimisation to ensure your centre appears in local searches</span></li><li style="font-weight: 400"><span style="font-weight: 400">Email marketing campaigns to encourage repeat visits</span></li><li style="font-weight: 400"><span style="font-weight: 400">Event promotion to maximise attendance</span></li><li style="font-weight: 400"><span style="font-weight: 400">Community-building initiatives to foster loyalty</span></li><li style="font-weight: 400"><span style="font-weight: 400">Creative content development highlighting your unique offerings</span></li><li style="font-weight: 400"><span style="font-weight: 400">Competitor analysis to identify opportunities in your market</span></li></ul></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-c8a36ee" class="card-header-button" aria-expanded="false" data-target="#expand-c8a36ee" aria-controls="expand-c8a36ee">
                        <span class="title">4. What makes ClimbHQ different from marketing agencies?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-c8a36ee" style="display:none"><div class="card-body"><p><span style="font-weight: 400">Well, we’re not a marketing agency…We are like having an inhouse team. Unlike general marketing agencies, ClimbHQ exclusively serves the indoor climbing industry. This specialisation means we understand the unique challenges, seasonal patterns, customer behaviors, and effective messaging specific to climbing centres. Our team has extensive experience in the climbing industry, allowing us to implement strategies that have proven successful for similar businesses without the learning curve a general agency would require.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-4256ca5" class="card-header-button" aria-expanded="false" data-target="#expand-4256ca5" aria-controls="expand-4256ca5">
                        <span class="title">5. Do you offer one-time services or only ongoing packages?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-4256ca5" style="display:none"><div class="card-body"><p><span style="font-weight: 400">We offer both! While our ongoing service packages provide the most comprehensive support and consistent results, we understand that some centres may need specific, one-time assistance. We offer one-time services such as website audits, marketing strategy development, financial reviews, and HR policy creation. Contact us to discuss your specific needs.</span></p></div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-35ef4c53 elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_accordion">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_224_32_69b73748193ea"><div class="card-wrapper expand">
                <div class="card-header">
                    <a href="#expand-aae80d4" class="card-header-button" aria-expanded="false" data-target="#expand-aae80d4" aria-controls="expand-aae80d4">
                        <span class="title">6. Can you help promote NICAS courses at my centre?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-aae80d4" style="display:block"><div class="card-body"><p><span style="font-weight: 400">Absolutely! We have specific experience promoting National Indoor Climbing Award Schemes (NICAS) courses. Our approach includes targeted marketing to schools and parents, highlighting the developmental benefits for children, creating compelling content showcasing your NICAS offerings, and developing partnerships with local educational institutions to increase enrollment.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-82fbab9" class="card-header-button" aria-expanded="false" data-target="#expand-82fbab9" aria-controls="expand-82fbab9">
                        <span class="title">7. How do you measure success?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-82fbab9" style="display:none"><div class="card-body"><p><span style="font-weight: 400">We establish clear KPIs tailored to your specific goals. Depending on the services you choose, these might include:</span></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Increased visitor numbers</span></li><li style="font-weight: 400"><span style="font-weight: 400">Higher conversion rates from website visitors to paying customers</span></li><li style="font-weight: 400"><span style="font-weight: 400">Improved retention rates</span></li><li style="font-weight: 400"><span style="font-weight: 400">Growth in course enrollments</span></li><li style="font-weight: 400"><span style="font-weight: 400">Enhanced social media engagement</span></li><li style="font-weight: 400"><span style="font-weight: 400">Better staff retention and satisfaction</span></li><li style="font-weight: 400"><span style="font-weight: 400">Improved financial metrics</span></li></ul><p><span style="font-weight: 400">We provide regular reporting and analysis so you can clearly see the impact of our work.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-f4fc474" class="card-header-button" aria-expanded="false" data-target="#expand-f4fc474" aria-controls="expand-f4fc474">
                        <span class="title">8. How much do your services cost?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-f4fc474" style="display:none"><div class="card-body"><p><span style="font-weight: 400">Our pricing varies based on the specific services you require. We offer tiered service packages designed to accommodate different budgets and needs. We're committed to providing excellent value and ensuring a strong return on investment. Contact us for a personalised quote tailored to your requirements.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-c8a36ee" class="card-header-button" aria-expanded="false" data-target="#expand-c8a36ee" aria-controls="expand-c8a36ee">
                        <span class="title">9. How long does it take to see results?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-c8a36ee" style="display:none"><div class="card-body"><p><span style="font-weight: 400">The timeline for results varies depending on the services implemented and your starting point. Generally:</span></p><ul><li style="font-weight: 400"><span style="font-weight: 400">For marketing initiatives: Initial improvements in online visibility and engagement typically occur within 1-2 months, with significant customer growth often seen within 3-6 months.</span></li><li style="font-weight: 400"><span style="font-weight: 400">For HR services: Staff satisfaction improvements can be measured within 3-6 months of implementing new policies.</span></li><li style="font-weight: 400"><span style="font-weight: 400">For financial services: Enhanced financial clarity is immediate, while improved profitability typically becomes evident within 3-6 months of implementing our recommendations.</span></li></ul><p><span style="font-weight: 400">We focus on both quick wins and long-term sustainable growth.</span></p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-1fc717a" class="card-header-button" aria-expanded="false" data-target="#expand-1fc717a" aria-controls="expand-1fc717a">
                        <span class="title">10. How do we get started?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-1fc717a" style="display:none"><div class="card-body"><p><span style="font-weight: 400">Getting started is easy! Simply contact us through our website. We'll schedule an initial consultation to understand your specific needs and challenges. After this, we'll provide a tailored proposal outlining our recommended services and approach. Once you're ready to proceed, we'll conduct a comprehensive audit of your current situation before implementing our strategies. Our onboarding process is designed to be smooth and minimally disruptive to your operations.</span></p></div></div>
            </div></div>				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
				</div>
</Layout>
