---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact — ClimbHQ" bodyClass="elementor-page-208">
				<div data-elementor-type="wp-page" data-elementor-id="208" class="elementor elementor-208" data-elementor-post-type="page">
				<div class="elementor-element elementor-element-1dc1f359 e-flex e-con-boxed e-con e-parent" data-id="1dc1f359" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-7c0fa021 e-con-full e-flex e-con e-child" data-id="7c0fa021" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-467c2d9c elementor-widget-mobile__width-inherit elementor-widget__width-inherit elementor-widget elementor-widget-heading" data-id="467c2d9c" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Contact</h2>				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-4e167333 e-flex e-con-boxed e-con e-parent" data-id="4e167333" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-194f2018 e-con-full e-flex e-con e-child" data-id="194f2018" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-63ea77e elementor-button-align-stretch elementor-widget elementor-widget-form" data-id="63ea77e" data-element_type="widget" data-e-type="widget" data-settings="{&quot;step_next_label&quot;:&quot;Next&quot;,&quot;step_previous_label&quot;:&quot;Previous&quot;,&quot;button_width&quot;:&quot;100&quot;,&quot;step_type&quot;:&quot;number_text&quot;,&quot;step_icon_shape&quot;:&quot;circle&quot;}" data-widget_type="form.default">
				<div class="elementor-widget-container">
							<form class="elementor-form" method="post" name="New Form">
			<input type="hidden" name="post_id" value="208"/>
			<input type="hidden" name="form_id" value="63ea77e"/>
			<input type="hidden" name="referer_title" value="Contact" />

							<input type="hidden" name="queried_id" value="208"/>
			
			<div class="elementor-form-fields-wrapper elementor-labels-above">
								<div class="elementor-field-type-text elementor-field-group elementor-column elementor-field-group-name elementor-col-100">
												<label for="form-field-name" class="elementor-field-label">
								Name							</label>
														<input size="1" type="text" name="form_fields[name]" id="form-field-name" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Name">
											</div>
								<div class="elementor-field-type-tel elementor-field-group elementor-column elementor-field-group-email elementor-col-100 elementor-field-required">
												<label for="form-field-email" class="elementor-field-label">
								Phone							</label>
								<input size="1" type="tel" name="form_fields[email]" id="form-field-email" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Phone" required="required" pattern="[0-9()#&amp;+*-=.]+" title="Only numbers and phone characters (#, -, *, etc) are accepted.">

						</div>
								<div class="elementor-field-type-email elementor-field-group elementor-column elementor-field-group-field_bd5e8e2 elementor-col-100 elementor-field-required">
												<label for="form-field-field_bd5e8e2" class="elementor-field-label">
								Email							</label>
														<input size="1" type="email" name="form_fields[field_bd5e8e2]" id="form-field-field_bd5e8e2" class="elementor-field elementor-size-sm  elementor-field-textual" placeholder="Email" required="required">
											</div>
								<div class="elementor-field-type-textarea elementor-field-group elementor-column elementor-field-group-message elementor-col-100">
												<label for="form-field-message" class="elementor-field-label">
								Message							</label>
						<textarea class="elementor-field-textual elementor-field  elementor-size-sm" name="form_fields[message]" id="form-field-message" rows="4" placeholder="Message"></textarea>				</div>
								<div class="elementor-field-type-text">
					<input size="1" type="text" name="form_fields[field_c8361e5]" id="form-field-field_c8361e5" class="elementor-field elementor-size-sm " style="display:none !important;">				</div>
								<div class="elementor-field-group elementor-column elementor-field-type-submit elementor-col-100 e-form__buttons">
					<button class="elementor-button elementor-size-sm" type="submit">
						<span class="elementor-button-content-wrapper">
																						<span class="elementor-button-text">Send</span>
													</span>
					</button>
				</div>
			</div>
		</form>
						</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-658109bb e-con-full e-flex e-con e-child" data-id="658109bb" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1c3f3946 elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading" data-id="1c3f3946" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_208__69b7374d1bfe4" ><h3 class="heading-section-subtitle  style-color">Get In Touch</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Send Us Message</h2></div><div class="heading-section-description"><p>We'd love to hear from you. Complete the form and discover how we can help your climbing centre grow.</p></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-5bfb7207 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="5bfb7207" data-element_type="widget" data-e-type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
							<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
						</div>
				</div>
		<div class="elementor-element elementor-element-35579531 e-grid e-con-boxed e-con e-child" data-id="35579531" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-53ebfa17 elementor-widget elementor-widget-heading" data-id="53ebfa17" data-element_type="widget" data-e-type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Our Social Media</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-2d1fbf90 elementor-shape-circle e-grid-align-right e-grid-align-mobile-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="2d1fbf90" data-element_type="widget" data-e-type="widget" data-widget_type="social-icons.default">
				<div class="elementor-widget-container">
							<div class="elementor-social-icons-wrapper elementor-grid" role="list">
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-shrink elementor-repeater-item-aedab39" href="https://www.facebook.com/profile.php?id=61574224461872" target="_blank">
						<span class="elementor-screen-only">Facebook</span>
						<i aria-hidden="true" class="fab fa-facebook"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-shrink elementor-repeater-item-2e0a413" href="https://www.instagram.com/climb_hq?igsh=ZnFjZ3N0aWpwdDU2" target="_blank">
						<span class="elementor-screen-only">Instagram</span>
						<i aria-hidden="true" class="fab fa-instagram"></i>					</a>
				</span>
							<span class="elementor-grid-item" role="listitem">
					<a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-shrink elementor-repeater-item-b4d91ff" href="https://www.linkedin.com/company/climbhq/" target="_blank">
						<span class="elementor-screen-only">Linkedin</span>
						<i aria-hidden="true" class="fab fa-linkedin"></i>					</a>
				</span>
					</div>
						</div>
				</div>
					</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-6ea6b06b e-con-full elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-parent" data-id="6ea6b06b" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
		<div class="elementor-element elementor-element-4ae79a4a e-con-full e-flex e-con e-child" data-id="4ae79a4a" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-6cd05c87 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="6cd05c87" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_icon_box.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_208_1_69b7374d1d888" ><div class="jkit-icon-box-wrapper hover-from-left"><div class="icon-box icon-box-header elementor-animation-"><div class="icon style-color"><i aria-hidden="true" class="jki jki-facebook-light"></i></div></div><div class="icon-box icon-box-body">
                <h2 class="title">Facebook</h2><p class="icon-box-description">Lorem ipsum dolor sit amet consec tetur adipiscing elit seddo.</p><div class="icon-box-button ">
                <div class="btn-wrapper icon-position-before">
                    <a href="" class="icon-box-link" aria-label="visit facebook">visit facebook</a>
                </div>
            </div>
            </div>
            
            </div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-227d5860 e-con-full e-flex e-con e-child" data-id="227d5860" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-460b9d10 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="460b9d10" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_icon_box.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_208_2_69b7374d1ddf1" ><div class="jkit-icon-box-wrapper hover-from-left"><div class="icon-box icon-box-header elementor-animation-"><div class="icon style-color"><i aria-hidden="true" class="jki jki-twitter-light"></i></div></div><div class="icon-box icon-box-body">
                <h2 class="title">Twitter</h2><p class="icon-box-description">Lorem ipsum dolor sit amet consec tetur adipiscing elit seddo.</p><div class="icon-box-button ">
                <div class="btn-wrapper icon-position-before">
                    <a href="" class="icon-box-link" aria-label="visit Twitter">visit Twitter</a>
                </div>
            </div>
            </div>
            
            </div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-14ccf16b e-con-full e-flex e-con e-child" data-id="14ccf16b" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-1059b6a3 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="1059b6a3" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_icon_box.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_208_3_69b7374d1e2d5" ><div class="jkit-icon-box-wrapper hover-from-left"><div class="icon-box icon-box-header elementor-animation-"><div class="icon style-color"><i aria-hidden="true" class="fab fa-telegram-plane"></i></div></div><div class="icon-box icon-box-body">
                <h2 class="title">Telegram</h2><p class="icon-box-description">Lorem ipsum dolor sit amet consec tetur adipiscing elit seddo.</p><div class="icon-box-button ">
                <div class="btn-wrapper icon-position-before">
                    <a href="" class="icon-box-link" aria-label="visit Telegram">visit Telegram</a>
                </div>
            </div>
            </div>
            
            </div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-4830cbaf e-con-full e-flex e-con e-child" data-id="4830cbaf" data-element_type="container" data-e-type="container">
				<div class="elementor-element elementor-element-2cfae126 jkit-equal-height-disable elementor-widget elementor-widget-jkit_icon_box" data-id="2cfae126" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_icon_box.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-icon-box icon-position-top elementor-animation- jeg_module_208_4_69b7374d1e74f" ><div class="jkit-icon-box-wrapper hover-from-left"><div class="icon-box icon-box-header elementor-animation-"><div class="icon style-color"><i aria-hidden="true" class="jki jki-whatsapp-1-light"></i></div></div><div class="icon-box icon-box-body">
                <h2 class="title">Whatsapp</h2><p class="icon-box-description">Lorem ipsum dolor sit amet consec tetur adipiscing elit seddo.</p><div class="icon-box-button ">
                <div class="btn-wrapper icon-position-before">
                    <a href="" class="icon-box-link" aria-label="visit Whatsapp">visit Whatsapp</a>
                </div>
            </div>
            </div>
            
            </div></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-16167e85 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-parent" data-id="16167e85" data-element_type="container" data-e-type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-3f6dbe0c elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading" data-id="3f6dbe0c" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_heading.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_208_5_69b7374d1ebba" ><h3 class="heading-section-subtitle  style-color">FAQ&#039;s</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Have A Questions ?</h2></div></div>				</div>
				</div>
		<div class="elementor-element elementor-element-7f70f9b4 e-flex e-con-boxed e-con e-child" data-id="7f70f9b4" data-element_type="container" data-e-type="container">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-70abc74a elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_accordion" data-id="70abc74a" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_accordion.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_208_6_69b7374d20ee9" ><div class="card-wrapper expand">
                <div class="card-header">
                    <a href="#expand-aae80d4" class="card-header-button" aria-expanded="false" data-target="#expand-aae80d4" aria-controls="expand-aae80d4">
                        <span class="title">1. What does ClimbHQ do?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-aae80d4" style="display:block"><div class="card-body"><p>ClimbHQ is a commercial services provider that helps climbing centres grow through digital marketing, including social media management, paid advertising, SEO, content creation, and branding. We tailor our strategies to the climbing industry to attract more visitors and increase engagement.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-82fbab9" class="card-header-button" aria-expanded="false" data-target="#expand-82fbab9" aria-controls="expand-82fbab9">
                        <span class="title">2. Do you only work with climbing centres?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-82fbab9" style="display:none"><div class="card-body"><p>Yes! We specialise in the climbing industry, meaning we understand your audience, your challenges, and what works best to market your centre effectively.</p><h4> </h4></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-f4fc474" class="card-header-button" aria-expanded="false" data-target="#expand-f4fc474" aria-controls="expand-f4fc474">
                        <span class="title">3. How can Climbhq help my climbing centre attract more customers?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-f4fc474" style="display:none"><div class="card-body"><p>We use targeted digital marketing strategies like social media campaigns, search engine optimisation (SEO), and paid advertising to increase your visibility and drive more visitors to your centre.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-c8a36ee" class="card-header-button" aria-expanded="false" data-target="#expand-c8a36ee" aria-controls="expand-c8a36ee">
                        <span class="title">4. What makes Climbhq different from other marketing agencies?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-c8a36ee" style="display:none"><div class="card-body"><p>Unlike general marketing agencies, we focus solely on the climbing industry. We know the market, the language, and the community, which allows us to create more authentic and effective marketing strategies.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-6aa596c" class="card-header-button" aria-expanded="false" data-target="#expand-6aa596c" aria-controls="expand-6aa596c">
                        <span class="title">5. Do you offer one-time services or only ongoing packages?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-6aa596c" style="display:none"><div class="card-body"><p>We offer both! Whether you need a full-service ongoing marketing package or a one-time project like a website refresh or content creation, we can tailor our services to your needs.</p></div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-4bfc2f0f elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_accordion" data-id="4bfc2f0f" data-element_type="widget" data-e-type="widget" data-widget_type="jkit_accordion.default">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_208_7_69b7374d2159c" ><div class="card-wrapper expand">
                <div class="card-header">
                    <a href="#expand-aae80d4" class="card-header-button" aria-expanded="false" data-target="#expand-aae80d4" aria-controls="expand-aae80d4">
                        <span class="title">6. Can you help promote NICAS courses at my centre?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-aae80d4" style="display:block"><div class="card-body"><p>Absolutely! As NICAS partners, we can help you market your NICAS courses, making it easier to attract new climbers and grow your instructional programs.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-82fbab9" class="card-header-button" aria-expanded="false" data-target="#expand-82fbab9" aria-controls="expand-82fbab9">
                        <span class="title">7. How do you measure success?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-82fbab9" style="display:none"><div class="card-body"><p>We track key performance metrics such as website traffic, social media engagement, lead generation, and conversion rates. You’ll receive regular reports with clear insights into what’s working and how we can optimise further.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-f4fc474" class="card-header-button" aria-expanded="false" data-target="#expand-f4fc474" aria-controls="expand-f4fc474">
                        <span class="title">8. How much do your services cost?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-f4fc474" style="display:none"><div class="card-body"><p>Our pricing varies depending on the package or service you choose. We offer flexible options to fit different budgets, from starter plans to full-scale marketing campaigns. Contact us for a quote tailored to your centre’s needs.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-c8a36ee" class="card-header-button" aria-expanded="false" data-target="#expand-c8a36ee" aria-controls="expand-c8a36ee">
                        <span class="title">9. How long does it take to see results?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-c8a36ee" style="display:none"><div class="card-body"><p>Some strategies, like paid ads, can drive immediate results, while others, like SEO and organic social media growth, take time to build momentum. We focus on sustainable, long-term success while also delivering quick wins.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-a09e9a6" class="card-header-button" aria-expanded="false" data-target="#expand-a09e9a6" aria-controls="expand-a09e9a6">
                        <span class="title">10. How do we get started?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-a09e9a6" style="display:none"><div class="card-body"><p>Simple! Just reach out to us for a free consultation. We’ll discuss your goals, recommend the best approach, and create a strategy that fits your centre’s needs.</p></div></div>
            </div></div>				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
				</div>
</Layout>
