---
import Layout from '../layouts/Layout.astro';
---

<Layout title="HR Services — ClimbHQ" bodyClass="elementor-page-588">
				<div class="elementor elementor-588">
				<div class="elementor-element elementor-element-33ee27b3 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-4d53a9ca e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-41b349e elementor-widget__width-inherit elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">HR Services</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-510da03 elementor-widget__width-inherit elementor-widget elementor-widget-text-editor">
				<div class="elementor-widget-container">
									<p>People &#8211; They&#8217;re our most important asset…</p><p>It’s difficult to give a number for how many pieces of employment legislation there is in the UK. We can all agree that there is a lot!</p><p>We’ve designed packages that support you creating an amazing place to work, where team members know they are looked after and treated fairly.</p><p>Bespoke services are provided on request &#8211; Get in touch today to find out more!</p>								</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-4b332198 e-flex e-con-boxed e-con e-parent" id="hr_page_columns">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-302e5a64 e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-701d769f e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-1ffe3e08 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_588__69b7374c263b9"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Basics</h2></div><h3 class="heading-section-subtitle  style-color">£249 per month</h3><div class="heading-section-description"><p><strong>Policy Formulation and Compliance</strong></p><ul><li>HR Policy Development: Basic policy templates and customisation</li><li>Quarterly Compliance Monitoring:</li><li>Annual risk assessment</li></ul><p><strong>HR Technology Solutions</strong></p><ul><li>Time and Attendance Tracking: Basic attendance tracking system</li></ul><p><strong>Virtual HR Assistant</strong></p><ul><li>24/7 Q&amp;A</li></ul></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-51b30663 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_588_1_69b7374c26a7c"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-65f5ffba e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-75b3716b e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-6f67cfd3 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_588_2_69b7374c26e87"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Essentials</h2></div><h3 class="heading-section-subtitle  style-color">£449 per month</h3><div class="heading-section-description"><p><strong>Everything in Basics and</strong></p><p><strong>Advisory Services</strong></p><ul><li>5 hours of HR Consultancy</li><li>Access to essential advice:</li><li>Recruitment Support: Job description templates and posting guidance</li></ul><p><strong>Training and Development</strong></p><ul><li>Training Programs: Access to our standard training library</li><li>Performance Reviews: templates and guidance</li></ul><p><strong>Emergency Response</strong></p><ul><li>Crisis Management: Response planning and support</li><li>Health and Safety Training: Annual safety</li><li>protocol refresher training</li></ul></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-478b647d elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_588_3_69b7374c27503"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-42c0475c e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-197ca1f3 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-2e6b1cb1 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_588_4_69b7374c2793b"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Complete</h2></div><h3 class="heading-section-subtitle  style-color">£949 per month</h3><div class="heading-section-description"><p><strong>Everything in Essentials and</strong></p><p><strong>Policy Formulation and</strong><br /><strong>Compliance</strong></p><ul><li><span style="font-weight: 400">Fully customised policies with implementation support</span></li><li><span style="font-weight: 400">Monthly compliance reviews and updates</span></li><li><span style="font-weight: 400">Quarterly risk assessments with detailed mitigation strategies</span></li></ul><p><b>Advisory Services</b></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Up to 15 hours of monthly consultation</span></li><li style="font-weight: 400"><span style="font-weight: 400">Recruitment Support: Full recruitment cycle management, including candidate screening</span></li></ul><p><b>Workplace Culture and Engagement</b></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Employee Engagement: Custom engagement initiatives and implementation</span></li><li style="font-weight: 400"><span style="font-weight: 400">Diversity and Inclusion: Comprehensive D&amp;I strategy development</span></li><li style="font-weight: 400"><span style="font-weight: 400">Tailored wellness program design and implementation</span></li></ul><p><b>Training and Development</b></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Custom training development and delivery</span></li><li style="font-weight: 400"><span style="font-weight: 400">Unlimited access to our extended learning resources</span></li><li style="font-weight: 400"><span style="font-weight: 400">Quarterly performance review system with coaching</span></li></ul><p><b>HR Technology Solutions</b></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Full HRIS setup and integration</span></li><li style="font-weight: 400"><span style="font-weight: 400">Advanced scheduling and attendance management</span></li></ul><p><b>Emergency Response</b></p><ul><li style="font-weight: 400"><span style="font-weight: 400">Crisis Management: response planning and support</span></li><li style="font-weight: 400"><span style="font-weight: 400">Quarterly safety training and certification support</span></li></ul></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-5cc10c98 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_588_5_69b7374c28387"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-40505131 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-d7b76aa e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-2fb8bd2c e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-38be8cbd elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_588_6_69b7374c28753"><div class="heading-section-title  display-inline-block"><h2 class="heading-title"></h2></div><div class="heading-section-description"><p><b>Packages are monthly, per site</b></p><p><strong>Add-On Services</strong></p><p><span style="font-weight: 400">Customise your plan with these additional services:</span></p><p><strong>On-Site HR Support:</strong><span style="font-weight: 400"> £300/day</span></p><p><strong>Employee Satisfaction Survey:</strong><span style="font-weight: 400"> £575/annually</span></p><p><strong>Team Building Event:</strong><span style="font-weight: 400"> Starting at £700</span></p><p><strong>Advanced Leadership Training:</strong><span style="font-weight: 400"> £950/program</span></p><p><span style="font-weight: 400">All plans include a dedicated HR consultant - Contact us today to find out more</span></p></div></div>				</div>
				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-8ecaa72 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-2142eb34 elementor-widget__width-inherit elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align-center align-tablet- align-mobile- jeg_module_588_7_69b7374c28d6f"><h3 class="heading-section-subtitle  style-color">FAQ&#039;s</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Have A Questions ?</h2></div></div>				</div>
				</div>
		<div class="elementor-element elementor-element-15e43d76 e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-4955ee76 elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_accordion">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_588_8_69b7374c2b013"><div class="card-wrapper expand">
                <div class="card-header">
                    <a href="#expand-aae80d4" class="card-header-button" aria-expanded="false" data-target="#expand-aae80d4" aria-controls="expand-aae80d4">
                        <span class="title">1. What does ClimbHQ do?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-aae80d4" style="display:block"><div class="card-body"><p>Climbhq is a marketing agency that helps climbing centres grow through digital marketing, including social media management, paid advertising, SEO, content creation, and branding. We tailor our strategies to the climbing industry to attract more visitors and increase engagement.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-82fbab9" class="card-header-button" aria-expanded="false" data-target="#expand-82fbab9" aria-controls="expand-82fbab9">
                        <span class="title">2. Do you only work with climbing centres?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-82fbab9" style="display:none"><div class="card-body"><p>Yes! We specialise in the climbing industry, meaning we understand your audience, your challenges, and what works best to market your centre effectively.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-f4fc474" class="card-header-button" aria-expanded="false" data-target="#expand-f4fc474" aria-controls="expand-f4fc474">
                        <span class="title">3. How can Climbhq help my climbing centre attract more customers?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-f4fc474" style="display:none"><div class="card-body"><p>We use proven targeted digital marketing strategies like social media campaigns, search engine optimisation (SEO), and paid advertising to increase your visibility and drive more visitors to your centre. We also provide a specially designed marketing CRM to ensure all your customer data is stored and re-marketed to on a regular basis. </p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-c8a36ee" class="card-header-button" aria-expanded="false" data-target="#expand-c8a36ee" aria-controls="expand-c8a36ee">
                        <span class="title">4. What makes Climbhq different from other marketing agencies?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-c8a36ee" style="display:none"><div class="card-body"><p>Unlike general marketing agencies, we focus solely on the climbing industry. We know the market, the language, and the community, which allows us to create more authentic and effective marketing strategies.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-4256ca5" class="card-header-button" aria-expanded="false" data-target="#expand-4256ca5" aria-controls="expand-4256ca5">
                        <span class="title">5. Do you offer one-time services or only ongoing packages?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-4256ca5" style="display:none"><div class="card-body"><p>We offer a choice of packages that we have tested and know work for each centre's budget and goals. Whether you need a full-service ongoing marketing package or a one-time project like a website refresh or content creation, we can tailor our services to your needs.</p></div></div>
            </div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-35ef4c53 elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_accordion">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-accordion style-default jeg_module_588_9_69b7374c2b7a4"><div class="card-wrapper expand">
                <div class="card-header">
                    <a href="#expand-aae80d4" class="card-header-button" aria-expanded="false" data-target="#expand-aae80d4" aria-controls="expand-aae80d4">
                        <span class="title">6. Can you help promote NICAS courses at my centre?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-aae80d4" style="display:block"><div class="card-body"><p>Absolutely! As NICAS partners, we can help you market your NICAS courses, making it easier to attract new climbers and grow your instructional programs.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-82fbab9" class="card-header-button" aria-expanded="false" data-target="#expand-82fbab9" aria-controls="expand-82fbab9">
                        <span class="title">7. How do you measure success?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-82fbab9" style="display:none"><div class="card-body"><p>Our most important metric is customers through the door. But we also provide in depth reports on key performance metrics such as website traffic, social media engagement, lead generation, and conversion rates.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-f4fc474" class="card-header-button" aria-expanded="false" data-target="#expand-f4fc474" aria-controls="expand-f4fc474">
                        <span class="title">8. How much do your services cost?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-f4fc474" style="display:none"><div class="card-body"><p>Our pricing varies depending on the package or service you choose. We offer flexible options to fit different budgets, from starter plans to full-scale marketing campaigns. Contact us for a quote tailored to your centre’s needs.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-c8a36ee" class="card-header-button" aria-expanded="false" data-target="#expand-c8a36ee" aria-controls="expand-c8a36ee">
                        <span class="title">9. How long does it take to see results?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-c8a36ee" style="display:none"><div class="card-body"><p>Some strategies, like paid ads, can drive immediate results, while others, like SEO and organic social media growth, take time to build momentum. We focus on sustainable, long-term success while also delivering quick wins.</p></div></div>
            </div><div class="card-wrapper ">
                <div class="card-header">
                    <a href="#expand-1fc717a" class="card-header-button" aria-expanded="false" data-target="#expand-1fc717a" aria-controls="expand-1fc717a">
                        <span class="title">10. How do we get started?</span><div class="right-icon-group">
                <div class="normal-icon"><i aria-hidden="true" class="jki jki-arrow-up-right-line"></i></div>
                <div class="active-icon"><i aria-hidden="true" class="jki jki-minus-solid"></i></div>
            </div>
                    </a>
                </div>
                <div class="card-expand" id="expand-1fc717a" style="display:none"><div class="card-body"><p>Simple! Just reach out to us for a free consultation. We’ll discuss your goals, recommend the best approach, and create a strategy that fits your centre’s needs.</p></div></div>
            </div></div>				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
				</div>
		
		
			</div>

	
</main>

</Layout>
