---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Marketing Services — ClimbHQ" bodyClass="elementor-page-587">
				<div class="elementor elementor-587">
				<div class="elementor-element elementor-element-3787255c e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-56348cd4 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-78ac212c elementor-widget__width-inherit elementor-widget elementor-widget-heading">
				<div class="elementor-widget-container">
					<h2 class="elementor-heading-title elementor-size-default">Marketing Services</h2>				</div>
				</div>
				<div class="elementor-element elementor-element-6f63ee20 elementor-widget__width-inherit elementor-widget elementor-widget-text-editor">
				<div class="elementor-widget-container">
									<p>The packages below are an example of our monthly, fixed cost service.<br />Bespoke services are provided on request &#8211; Get in touch today to find out more!</p>								</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-65f92d80 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-8d36eba e-flex e-con-boxed e-con e-child">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-53d90eca e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-486aa19a elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile-center jeg_module_587__69b7374927bcd"><h3 class="heading-section-subtitle  style-color">How we support you</h3><div class="heading-section-title  display-inline-block"><h2 class="heading-title">The growth starts here</h2></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-46832b30 elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_587_1_69b737492809b"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-5f3a156e e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-39ceee33 e-grid e-con-full e-con e-child">
				<div class="elementor-element elementor-element-1f344aee elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-image-box">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img decoding="async" width="1000" height="1000" src="/images/stock/rear-view-muscular-man-climbing.jpg" class="attachment-full size-full wp-image-30" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Social Media Marketing</h3><p class="elementor-image-box-description"><em>Get your centre noticed online.</em></br></br>

We’ll manage your social media accounts, create engaging content, and run targeted ad campaigns on platforms like Instagram, Facebook, and TikTok. From eye-catching posts to data-driven strategies, we’ll connect you with your audience and build your community.
</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-7f5c6fb6 e-grid e-con-full e-con e-child">
				<div class="elementor-element elementor-element-510fdc10 elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-image-box">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1000" height="1000" src="/images/stock/fit-man-rock-climbing.jpg" class="attachment-full size-full wp-image-33" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Search Engine Optimization (SEO)</h3><p class="elementor-image-box-description"><em>Help climbers find you first.</em></br></br>
We’ll optimise your website to rank higher in search engine results, ensuring local climbers can easily find your centre. From keyword research to technical improvements, we’ll boost your visibility and drive more traffic to your site.
</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1f1b9861 e-grid e-con-full e-con e-child">
				<div class="elementor-element elementor-element-127c61ce elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-image-box">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1000" height="1000" src="/images/icons/1.png" class="attachment-full size-full wp-image-189" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Pay-Per-Click (PPC) Advertising</h3><p class="elementor-image-box-description"><em>Turn clicks into climbers.</em></br></br>
We’ll run targeted PPC campaigns through Google Ads to help you reach potential climbers actively searching for climbing centres or related activities. Our goal is to maximise your return on investment and fill your walls.
</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1cb626e4 e-grid e-con-full e-con e-child">
				<div class="elementor-element elementor-element-37fc3f83 elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-image-box">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1000" height="1000" src="/images/icons/3.png" class="attachment-full size-full wp-image-187" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Email Marketing Campaigns</h3><p class="elementor-image-box-description"><em>Stay connected with your community.</em></br></br>
We’ll craft professional email campaigns that keep climbers in the loop about new classes, special offers, and centre updates. With personalized messaging and stunning designs, we’ll help you build loyalty and engagement.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1bc00471 e-grid e-con-full e-con e-child">
				<div class="elementor-element elementor-element-359d9843 elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-image-box">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1000" height="1000" src="/images/icons/2.png" class="attachment-full size-full wp-image-188" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Website Design &amp; Optimization</h3><p class="elementor-image-box-description"><em>Your centre’s digital home, perfected.</em></br></br>
From creating new websites to optimising existing ones, we’ll ensure your online presence is as inviting and functional as your climbing walls. Our designs are clean, user-friendly, and built to convert visitors into loyal climbers.</p></div></div>				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-d78999e e-grid e-con-full e-con e-child">
				<div class="elementor-element elementor-element-ba43c61 elementor-position-left elementor-vertical-align-middle elementor-widget__width-initial elementor-widget-tablet__width-initial elementor-widget elementor-widget-image-box">
				<div class="elementor-widget-container">
					<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img loading="lazy" decoding="async" width="1000" height="1000" src="/images/icons/4.png" class="attachment-full size-full wp-image-191" alt="" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Content Marketing</h3><p class="elementor-image-box-description"><em>Tell your story, inspire action.</em></br></br>
We’ll create engaging blogs, articles, and downloadable resources tailored to your audience. Whether it’s a guide for beginners or tips for experienced climbers, content marketing builds trust and positions your centre as an authority in the climbing world.</p></div></div>				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-6f6bd58a e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
		<div class="elementor-element elementor-element-9bbc0e7 e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-70fef99 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-8871b7d elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_587_2_69b73749284a3"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Base Camp</h2></div><h3 class="heading-section-subtitle  style-color">£499 per month*</h3><div class="heading-section-description"><ul><li>Website audit and SEO optimisation</li><li>Social media management - 3 social posts per week across 3 channels including graphic creation and copy writing.</li><li>Google My Business set up/management - monthly updates and optimisation</li></ul></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-ef47e22 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_587_3_69b7374928911"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-1fbf919a e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-85d2391 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-b7bedc5 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_587_4_69b7374928cda"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Summit Club</h2></div><h3 class="heading-section-subtitle  style-color">£999 per month*</h3><div class="heading-section-description"><ul><li>Everything in Base Camp</li><li>Social media management - 6 social posts per week across 3 channels including graphic creation and copy writing.</li><li>CRM set up with GoHighLevel </li><li>Email newsletter twice per month</li><li>SMS text campaign 2 per month</li><li>Blog creation for website</li><li>Advanced keyword monitoring and backlink building to increase SEO presence</li><li>Monthly strategy report</li><li>1 social media paid brand awareness campaign per month</li><li>*Text and email campaigns charged in units at the following rates:</li><li>Text: £0.05</li><li>Email: £0.60 per 1,000 sent</li></ul></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-3196de0 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_587_5_69b7374929201"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
				</div>
		<div class="elementor-element elementor-element-bcc7a52 e-con-full e-flex e-con e-child">
		<div class="elementor-element elementor-element-617ca363 e-con-full e-flex e-con e-child">
				<div class="elementor-element elementor-element-d6307b5 elementor-widget elementor-widget-jkit_heading">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-heading  align- align-tablet- align-mobile- jeg_module_587_6_69b73749295ab"><div class="heading-section-title  display-inline-block"><h2 class="heading-title">Peak Performer</h2></div><h3 class="heading-section-subtitle  style-color">£1299 per month*</h3><div class="heading-section-description"><ul><li>Everything in Summit Club</li><li>Google My Business review outreach</li><li>Full integration of marketing CRM with booking systems and email automations.</li><li>Social media management - 9 social posts per week across 3 channels including graphic creation and copy writing.</li><li>Weekly newsletter</li><li>2* custom lead generation campaign on social media or Google Ads*</li><li>Landing page creation for lead generation campaigns</li><li>4 SMS campaigns per month</li><li>Quarterly deep dive reporting</li><li>Monthly status report</li><li>*Additional ad spend required for paid campaigns</li></ul></div></div>				</div>
				</div>
				<div class="elementor-element elementor-element-5715ed24 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-jkit_button">
				<div class="elementor-widget-container">
					<div  class="jeg-elementor-kit jkit-button  icon-position-before jeg_module_587_7_69b7374929ad1"><a href="/contact" class="jkit-button-wrapper">Get in touch</a></div>				</div>
				</div>
				</div>
				</div>
					</div>
				</div>
		<div class="elementor-element elementor-element-93d3e37 e-flex e-con-boxed e-con e-parent">
					<div class="e-con-inner">
				<div class="elementor-element elementor-element-f93680f elementor-widget elementor-widget-image">
				<div class="elementor-widget-container">
																<a href="https://calendar.app.google/2oAo1cfUDVSwC7z6A">
							<img loading="lazy" decoding="async" width="800" height="286" src="/images/stock/jezs-january-top-tip.png" class="attachment-large size-large wp-image-1181" alt="Marketing Manager in the Climbing Industry" />								</a>
															</div>
				</div>
					</div>
				</div>
				</div>
		
		
			</div>

	
</main>

</Layout>
