---
const currentYear = new Date().getFullYear();
---

<div data-elementor-type="footer" data-elementor-id="127" class="elementor elementor-127 elementor-location-footer">
  <div class="elementor-element elementor-element-5a943936 e-flex e-con-boxed e-con e-parent e-lazyloaded" data-id="5a943936" data-element_type="container" data-e-type="container">
    <div class="e-con-inner">

      <!-- Top row: Logo + nav links -->
      <div class="elementor-element elementor-element-11439bb2 e-con-full e-flex e-con e-child" data-id="11439bb2" data-element_type="container" data-e-type="container">
        <div class="elementor-element elementor-element-c402f03 elementor-widget elementor-widget-image" data-id="c402f03" data-element_type="widget">
          <div class="elementor-widget-container">
            <img width="800" height="800" src="/images/logos/climbhq-logo.svg" class="attachment-large size-large" alt="ClimbHQ" decoding="async" />
          </div>
        </div>
        <div class="elementor-element elementor-element-54a7509b elementor-icon-list--layout-inline elementor-align-end elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="54a7509b" data-element_type="widget">
          <div class="elementor-widget-container">
            <ul class="elementor-icon-list-items elementor-inline-items">
              <li class="elementor-icon-list-item elementor-inline-item">
                <a href="/">
                  <span class="elementor-icon-list-text">Home</span>
                </a>
              </li>
              <li class="elementor-icon-list-item elementor-inline-item">
                <a href="/about/">
                  <span class="elementor-icon-list-text">About</span>
                </a>
              </li>
              <li class="elementor-icon-list-item elementor-inline-item">
                <a href="/contact">
                  <span class="elementor-icon-list-text">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Middle row: 3-column layout -->
      <div class="elementor-element elementor-element-1ea500d1 e-flex e-con-boxed e-con e-child" data-id="1ea500d1" data-element_type="container" data-e-type="container">
        <div class="e-con-inner">

          <!-- Column 1: About + NICAS + Social -->
          <div class="elementor-element elementor-element-335d9517 e-con-full e-flex e-con e-child" data-id="335d9517" data-element_type="container" data-e-type="container">
            <div class="elementor-element elementor-element-52cb4559 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="52cb4559" data-element_type="widget">
              <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">About ClimbHQ</h2>
              </div>
            </div>
            <div class="elementor-element elementor-element-1907796f elementor-widget elementor-widget-text-editor" data-id="1907796f" data-element_type="widget">
              <div class="elementor-widget-container">
                <p>ClimbHQ is a commercial services provider dedicated to helping climbing centres grow. We combine industry expertise with digital marketing strategies to attract more visitors, boost engagement, and drive memberships.</p>
              </div>
            </div>
            <div class="elementor-element elementor-element-5c59963 elementor-widget elementor-widget-image" data-id="5c59963" data-element_type="widget">
              <div class="elementor-widget-container">
                <img width="300" height="107" src="/images/logos/nicas-logo.png" class="attachment-medium size-medium" alt="NICAS Partner" decoding="async" />
              </div>
            </div>
            <div class="elementor-element elementor-element-7894246e elementor-shape-square e-grid-align-left e-grid-align-tablet-left elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="7894246e" data-element_type="widget">
              <div class="elementor-widget-container">
                <div class="elementor-social-icons-wrapper elementor-grid" role="list">
                  <span class="elementor-grid-item" role="listitem">
                    <a class="elementor-icon elementor-social-icon elementor-social-icon-facebook-f elementor-animation-push elementor-repeater-item-c0163ab" href="https://www.facebook.com/profile.php?id=61574224461872" target="_blank" rel="noopener noreferrer">
                      <span class="elementor-screen-only">Facebook-f</span>
                      <i aria-hidden="true" class="fab fa-facebook-f"></i>
                    </a>
                  </span>
                  <span class="elementor-grid-item" role="listitem">
                    <a class="elementor-icon elementor-social-icon elementor-social-icon-instagram elementor-animation-push elementor-repeater-item-63f86db" href="https://www.instagram.com/climb_hq?igsh=ZnFjZ3N0aWpwdDU2" target="_blank" rel="noopener noreferrer">
                      <span class="elementor-screen-only">Instagram</span>
                      <i aria-hidden="true" class="fab fa-instagram"></i>
                    </a>
                  </span>
                  <span class="elementor-grid-item" role="listitem">
                    <a class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-push elementor-repeater-item-30b340d" href="https://www.linkedin.com/company/climbhq/" target="_blank" rel="noopener noreferrer">
                      <span class="elementor-screen-only">Linkedin</span>
                      <i aria-hidden="true" class="fab fa-linkedin"></i>
                    </a>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!-- Column 2: Contact Info -->
          <div class="elementor-element elementor-element-4cf33f2d e-con-full e-flex e-con e-child" data-id="4cf33f2d" data-element_type="container" data-e-type="container">
            <div class="elementor-element elementor-element-2ace6b3c elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="2ace6b3c" data-element_type="widget">
              <div class="elementor-widget-container">
                <h5 class="elementor-heading-title elementor-size-default">Contact Info</h5>
              </div>
            </div>
            <div class="elementor-element elementor-element-4273fce5 elementor-tablet-align-center elementor-widget-tablet__width-inherit elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="4273fce5" data-element_type="widget">
              <div class="elementor-widget-container">
                <ul class="elementor-icon-list-items">
                  <li class="elementor-icon-list-item">
                    <span class="elementor-icon-list-icon">
                      <i aria-hidden="true" class="fas fa-envelope"></i>
                    </span>
                    <span class="elementor-icon-list-text">hello@climbhq.co.uk</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Column 3: Newsletter -->
          <div class="elementor-element elementor-element-77198ffe e-con-full e-flex e-con e-child" data-id="77198ffe" data-element_type="container" data-e-type="container">
            <div class="elementor-element elementor-element-7b04a4d2 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-heading" data-id="7b04a4d2" data-element_type="widget">
              <div class="elementor-widget-container">
                <h5 class="elementor-heading-title elementor-size-default">Subscribe Our Newsletter</h5>
              </div>
            </div>
            <div class="elementor-element elementor-element-3757a0e0 elementor-widget-tablet__width-initial elementor-widget-mobile__width-initial elementor-widget elementor-widget-jkit_mailchimp" data-id="3757a0e0" data-element_type="widget">
              <div class="elementor-widget-container">
                <div class="jeg-elementor-kit jkit-mailchimp style-inline">
                  <form method="post" class="jkit-mailchimp-form">
                    <div class="jkit-mailchimp-message"></div>
                    <div class="jkit-form-wrapper email-form">
                      <div class="jkit-mailchimp-email jkit-input-wrapper input-container">
                        <div class="jkit-form-group">
                          <div class="jkit-input-element-container jkit-input-group">
                            <input type="email" name="email" class="jkit-email jkit-form-control" placeholder="Email Address" aria-label="Email address for newsletter signup" required />
                          </div>
                        </div>
                      </div>
                      <div class="jkit-submit-input-holder jkit-input-wrapper">
                        <button type="submit" class="jkit-mailchimp-submit position-before" name="jkit-mailchimp">
                          <i aria-hidden="true" class="fab fa-telegram-plane"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="elementor-element elementor-element-79a6b635 elementor-widget-tablet__width-inherit elementor-widget elementor-widget-jkit_heading" data-id="79a6b635" data-element_type="widget">
              <div class="elementor-widget-container">
                <div class="jeg-elementor-kit jkit-heading align- align-tablet-center align-mobile-center">
                  <div class="heading-section-title display-inline-block">
                    <div class="heading-title">* <span class="style-color"><span>Trust me, we will not spam your email</span></span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <!-- Bottom row: Copyright + legal links -->
      <div class="elementor-element elementor-element-3e3ddc23 e-flex e-con-boxed e-con e-child" data-id="3e3ddc23" data-element_type="container" data-e-type="container">
        <div class="e-con-inner">
          <div class="elementor-element elementor-element-e8272dc elementor-widget elementor-widget-text-editor" data-id="e8272dc" data-element_type="widget">
            <div class="elementor-widget-container">
              <p>Copyright &copy; {currentYear} ClimbHQ All rights reserved.</p>
            </div>
          </div>
          <div class="elementor-element elementor-element-5e1f63e0 elementor-icon-list--layout-inline elementor-align-end elementor-mobile-align-center elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="5e1f63e0" data-element_type="widget">
            <div class="elementor-widget-container">
              <ul class="elementor-icon-list-items elementor-inline-items">
                <li class="elementor-icon-list-item elementor-inline-item">
                  <a href="/privacy-policy/">
                    <span class="elementor-icon-list-text">Privacy Policy</span>
                  </a>
                </li>
                <li class="elementor-icon-list-item elementor-inline-item">
                  <a href="/terms/">
                    <span class="elementor-icon-list-text">Terms &amp; Conditions</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
